---
import {getCollection} from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import PostCard from '../../components/PostCard.astro';
import BlogLanding from '../../layouts/BlogLanding.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BlogLanding active='blog'>
	<div class='main-container'>
		<div class='section-main glass'>
			<h1 class='section-title'>Blog posts</h1>
			<main class='posts-container'>
				{
					posts.map((post) => (
						<PostCard
							title={post.data.title}
							description={post.data.description}
							image={post.data.heroImage}
							pubDate={post.data.pubDate}
							link={`blog/${post.slug}`}
						/>
					))
				}
			</main>
		</div>
	</div>
	<div class='bg-images'>
		<img
			src='abstract-lines1.webp'
			alt='Abstract lines'
			class='bg-blog-lines'
		/>
	</div>
</BlogLanding>
