---
import {getCollection} from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Portfolio from '../../layouts/Portfolio.astro';
import PostCard from '../../components/PostCard.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Portfolio active='blog'>
	<div class='main-container'>
		<div class='section-main glass'>
			<h1 class='page-title'>Blog posts</h1>
			<main class='posts-container'>
				{
					posts.map((post) => (
						<PostCard
							title={post.data.title}
							description={post.data.description}
							image={post.data.heroImage}
							pubDate={post.data.pubDate}
							link={`/portfolio/blog/${post.slug}`}
						/>
					))
				}
			</main>
		</div>
	</div>
	<div class='bg-images'>
		<img
			src='/portfolio/abstract-lines1.png'
			alt='Abstract lines'
			class='bg-blog-lines'
		/>
	</div>
</Portfolio>
