---
import Seo from '../components/Seo.astro';
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/normalize.css';
import '../styles/global.css';

const {title, description, image, robots} = Astro.props;
---

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='favicon-dark-theme.svg' />
<meta name='generator' content={Astro.generator} />
<title>Ernesto Martínez - Data Scientist and Web Developer</title>
<meta name='author' content='Ernesto Martínez' />
<meta
	name='description'
	content='Ernesto Martínez - Data Scientist and Web Developer. A Data Science student at Universitat Politècnica de València with a passion for web development and a self-taught programmer since 2020. Explore my projects in movie recommendation, Pokémon card detection, athletics ranking analysis, and workout timer app. Connect with me on LinkedIn and GitHub.'
/>

<Seo
	title={title}
	description={description}
	url={Astro.url}
	image={image}
	robots={robots}
/>

<!-- Font preloads -->
<link rel='
	preconnect' href='https://fonts.googleapis.com' />
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
<link
	href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap'
	rel='stylesheet'
/>
