---
import FormattedDate from './FormattedDate.astro';
const {title, description, pubDate, image, link} = Astro.props;
---

<a class='post-card' href={link}>
	<picture>
		<img src={`${image}`} alt='Hero image' />
	</picture>
	<div class='card__text-container'>
		<p class='card__title'>{title}</p>
		<div class='darker'>
			<p class='card__description'>{description}</p>
			<FormattedDate date={pubDate} />
		</div>
	</div>
</a>

<style>
	a {
		color: white;
		text-decoration: none;
	}

	.card__title {
		font-size: 20px;
		font-weight: 600;
		opacity: 1;
	}
	.darker {
		opacity: 0.8;
	}

	p {
		margin: 0.3rem 0 0.3rem 0;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
</style>
