---
import type {CollectionEntry} from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Navbar from '../components/Navbar.astro';
import Icon from '../components/Icon.astro';

type Props = CollectionEntry<'blog'>['data'];

const {title, description, pubDate, updatedDate, heroImage} = Astro.props;
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			/* main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			} */
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			/* .blog__nav-container {
				position: fixed;
				top: 50%;
				left: 10px;
				transform: translateY(-50%);
				width: 100%;
			} */
			article {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class='container'>
			<div class='nav-container'>
				<Navbar>
					<a class='link-icon' href='/portfolio'><Icon name='home' /></a>
					<a class='link-icon' href='/portfolio#about'><Icon name='person' /></a
					>
					<a class='link-icon' href='/portfolio#projects'
						><Icon name='bulb' /></a
					>
					<a class='link-icon active-icon' href='/portfolio/blog'
						><Icon name='blog' /></a
					>
					<a class='link-icon' target='_blank' href='/portfolio/cv'
						><Icon name='curriculum' /></a
					>
					<a
						class='link-icon'
						target='_blank'
						href='https://linkedin.com/in/ernestomg'><Icon name='linkedin' /></a
					>
					<a class='link-icon' target='_blank' href='https://github.com/em4go'
						><Icon name='github' /></a
					>
				</Navbar>
			</div>
			<main class='main-container'>
				<article>
					<div class='hero-image'>
						{
							heroImage && (
								<img
									width={1020}
									height={510}
									src={`/portfolio/${heroImage}`}
									alt=''
								/>
							)
						}
					</div>
					<div class='prose'>
						<div class='title'>
							<div class='date'>
								<FormattedDate date={pubDate} />
							</div>
							<h1>{title}</h1>
						</div>
						<slot />
					</div>
				</article>
			</main>
		</div>
		<Footer />
	</body>
</html>
