---
import type {CollectionEntry} from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Navbar from '../components/Navbar.astro';
import Icon from '../components/Icon.astro';

type Props = CollectionEntry<'blog'>['data'];

const {title, description, pubDate, updatedDate, heroImage} = Astro.props;
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			img {
				width: 200px;
				height: 200px;
				border-radius: 5px;
				object-fit: cover;
			}
			header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 2rem;
			}
			/* main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			} */
			article {
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 30px;
				border-radius: 16px;
			}
			.article-content {
				max-width: 900px;
			}
			.blog__title-container {
				width: 100%;
			}
			.title h1 {
				text-wrap: pretty;
			}
			.blog-date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			/* .blog__nav-container {
				position: fixed;
				top: 50%;
				left: 10px;
				transform: translateY(-50%);
				width: 100%;
			} */
			article {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class='container'>
			<div class='nav-container'>
				<Navbar>
					<a class='link-icon' href='/portfolio'><Icon name='home' /></a>
					<a class='link-icon' href='/portfolio#about'><Icon name='person' /></a
					>
					<a class='link-icon' href='/portfolio#projects'
						><Icon name='bulb' /></a
					>
					<a class='link-icon active-icon' href='/portfolio/blog'
						><Icon name='blog' /></a
					>
					<a
						class='link-icon'
						target='_blank'
						href='/portfolio/CV_Ernesto_Martinez_Gomez.pdf'
						download
					>
						<Icon name='curriculum' />
					</a>
					<a
						class='link-icon'
						target='_blank'
						href='https://linkedin.com/in/ernestomg'><Icon name='linkedin' /></a
					>
					<a class='link-icon' target='_blank' href='https://github.com/em4go'
						><Icon name='github' /></a
					>
				</Navbar>
			</div>
			<main class='content-container'>
				<article class='glass'>
					<div class='article-content'>
						<header>
							<div class='blog__hero-img'>
								{heroImage && <img src={`/portfolio/${heroImage}`} alt='' />}
							</div>
							<div class='blog__title-container'>
								<h1>{title}</h1>
								<div class='blog-date'>
									<FormattedDate date={pubDate} />
								</div>
							</div>
						</header>
						<slot />
					</div>
				</article>
			</main>
		</div>
	</body>
</html>
