---
import BaseHead from '../components/BaseHead.astro';
// import Navbar from '../components/Navbar.astro';
import Navbar from '../components/Navbar.astro';
import Icon from '../components/Icon.astro';
import type {imageConfig} from 'astro:assets';
const {
	active,
	title = 'Ernesto Martínez - Data Scientists and Web Developer',
	description = '',
	image,
	robots,
} = Astro.props;
---

<!-- bind:class="{ active: activeSection === 'inicio' }" --><!doctype html>
<html lang='en'>
	<head>
		<BaseHead {title} {description} {image} {robots} />
	</head>
	<body>
		<div class='container screen-size'>
			<div class='nav-container'>
				<Navbar>
					<a
						class:list={['link-icon', {'active-icon': active === 'landing'}]}
						href='#landing'
					>
						<Icon name='home' />
						<span class='icon-text'>Landing</span>
					</a>
					<a
						class:list={['link-icon', {'active-icon': active === 'about'}]}
						href='#about'
					>
						<Icon name='person' />
						<span class='icon-text'>About me</span>
					</a>
					<a
						class:list={['link-icon', {'active-icon': active === 'projects'}]}
						href='#projects'
					>
						<Icon name='bulb' />
						<span class='icon-text'>Projects</span>
					</a>
					<!-- Blog section coming soon -->
					<!-- <a
						class:list={['link-icon', {'active-icon': active === 'blog'}]}
						href='blog'
					>
						<Icon name='blog' />
						<span class='icon-text'>Blog</span>
					</a> -->
					<a
						class='link-icon'
						target='_blank'
						href='CV_Ernesto_Martinez_Gomez.pdf'
					>
						<Icon name='curriculum' />
						<span class='icon-text'> CV</span>
					</a>
					<a
						class='link-icon'
						target='_blank'
						href='https://linkedin.com/in/ernestomg'
					>
						<Icon name='linkedin' />
						<span class='icon-text'>LinkedIn</span>
					</a>
					<a class='link-icon' target='_blank' href='https://github.com/em4go'>
						<Icon name='github' />
						<span class='icon-text'>GitHub</span>
					</a>
				</Navbar>
			</div>
			<slot />
		</div>
	</body>
</html>
